
* {
    box-sizing: border-box;
  }
.formular {
    border: solid 1px rgb(100, 100, 97);
   
    margin: 250px;
    
}
img{
    
   position:absolute;
   margin-left: 300px;
   margin-top: -300px;
   margin-right: 15px;
}
button{
    margin-left: 160px;
    background-color: rgba(0, 181, 204, 1);
    color: white;
   
    width: 70px;

}
p{
    margin: 28px;
    
}


.success-message {
    border: 1px solid #0c0;
    background-color: #84f57d;
    color: #0c0;
    padding: 5px;
    text-align: center;
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 1s;
  }

  .error-message{
    border : 1px solid #c00;
    background-Color : #f5847d;
    color :#c00;
    padding : 5px;
    


  }